<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

   
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12" align="center">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>Us</strong>
                    </h2>
                    <hr>

                </div>
                
                <p>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Foodesire is a web app dedicated for searching food located around Tacloban City area. We are pleased to offer the convenience of finding the food that will satisfy your cravings with the use of our app.
                </p>

        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12" align="center">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Developers</strong>
                    </h2>
                    <hr>
         
                   <img src="https://image.ibb.co/nKdrha/final_Developers.png" alt="final_Developers" border="0">


                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

   

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

