<% if current_user %>
<h1></h1>
<div class="container">
<div class="row" align="center">

  <div class="box">


     <div class="col-lg-12">
       <hr>
        <h2 class="intro-text text-center">Add
          <strong>Food</strong>
        <br>
        </h2>
<hr>
<br>
<br>

<div class="alert alert-info">
  <strong>Attention!</strong> Image upload feature is not yet supported but it will be included in the next release of this app so be on update.
</div>

<div class="container">
<div class="col-md-9 personal-info">
<% @food = Food.new %>
<%= form_for(Food.new, :validate => true, :url => {action: "create"}, html: {class: 'inline_validator_form'}) do |f| %>
        
        
          
          
            <div class="form-group" class="field_with_errors">
              <label class="col-lg-3 control-label">Food name:</label>
              <div class="col-lg-8">
                <%= f.text_field :food_name, :class => "form-control" %>
              </div>
            </div>
            <br>
            <br>
            <br>
            <div class="form-group">
              <label class="col-lg-3 control-label">Price (in &#8369;):</label>
              <div class="col-lg-8">
                <%= f.text_field :price, :class => "form-control" %>
              </div>
            </div>
            <br>
            <br>
            <br>
            <div class="form-group">
              <label class="col-lg-3 control-label">Restaurant name:</label>
              <div class="col-lg-8">
                <%= f.text_field :resto_name, :class => "form-control"  %>
              </div>
            </div>
            <br><br>
            <br>
            <div class="form-group">
              <label class="col-lg-3 control-label">Location:</label>
              <div class="col-lg-8">
                <%= f.text_field :address, :class => "form-control"  %>
              </div>
            </div>
            <br><br>
            <br>
            <div class="form-group">
              <label class="col-lg-3 control-label">Tags (ex. pizza,meal):</label>
              <div class="col-lg-8">
                <%= f.text_field :all_tags, :class => "form-control"  %>
              </div>
            </div>
            <br><br>
            <br>
            <div class="form-group">
              <label class="col-lg-3 control-label">Description:</label>
              <div class="col-lg-8">
                <%= f.text_area :description, :class => "form-control"  %>
              </div>
            </div>
             <br>
            <br>
            <br>
<!--            <div class="form-group">
             <br>
            <br>
            <br>
              <label class="col-md-3 control-label">Image:</label>
              <div class="col-md-8">
                <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                <br>
            <br>
            <br>
            <input type="file" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8">
              <br>
            <br>
            <br>
-->            

    <%= f.submit "Add Food", :class => "btn btn-primary" %>
    <%= button_tag "Reset", type: :reset, :class => "btn btn-secondary" %>

<% end %>


</div>


           

                
              </div>

            </div>

                  </div>
              </div>
          </div>
  </div>
<% else %>
  <% session[:back_to] = request.env['PATH_INFO'] %>
  <script type="text/javascript">
      window.location.href="/auth/facebook"
  </script>
<% end %>
    