  <div align="center">
  <div class="text"></div>
  <br>
  <br>
  <%= form_tag foods_search_path, :method => 'get' do %>
  <input type="text" id="search" name="search" class="button" placeholder="Search"/>
  <%end%>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <script src='http://use.edgefonts.net/amaranth.js'></script>
</div>
</div>


<div class="container">
<div class="box">
<div class="row">
  <div class="col-lg-12" align="center">
   <hr>
                    <h2 class="intro-text text-center">Most Liked
                        <strong>Food</strong>
                    </h2>
                    <hr>
<br>
</div>
<div class = "row">
<ul class= "products">
<% foods = Food.joins(:hearts).select("foods.*, count(hearts.id) as hcount").group("foods.id").order("hcount DESC") %>
          <% foods[0...3].each do |f|  %>  
  
  <li>
    <%= div_for f do %>   
      <%= render :partial => 'hearts/button', :locals => {:food => f} %>
    <% end %>
  </li>

  <% end %>
</div>
</div>
</div>
</div>
</div>

<div class = "container">
<div class="box">
<div class = "row">
<div class="col-lg-12" align="center">
                    <hr>
                    <h2 class="intro-text text-center">Recently Added
                        <strong>Food</strong>
                        
                    </h2>
                    <hr>
                    <br>

</div>
<% foods = Food.order("created_at").last(3) %>
                       <% foods[0...3].each do |f|  %>  
  
     <%= div_for f, :class=>"col-sm-4 col-lg-4 col-md-4" do %>
     
    <%= render :partial => 'hearts/button', :locals => {:food => f} %>
  <% end %>



  <% end %>


</div>
</div>
</div>

    <!-- jQuery -->
    <script src="https://blackrockdigital.github.io/startbootstrap-business-casual/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-business-casual/js/bootstrap.min.js"></script>

