<h1>All Result</h1>
<%= link_to 'Home', foods_home_path %>

<table id="movies">
  <thead>
    <tr>
      <th>
        <%= "Name" %>
      </th>
      <th>
        <%= "Price" %>
      </th>
      <th>
        <%= "Resto Name" %>
      </th>
      <th>
        <%= "Description" %>
      </th>
      <th>
        <%= "Tag" %>
      </th>
      <th>
        <%= "Created" %>
      </th>
      <th>
        <%= "Updated" %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <th>
          <%= food.foodName %>
        </th>
        <th>
          <%= food.price %>
        </th>
        <th>
          <%= food.restoName %>
        </th>
        <th>
          <%= food.description %>
        </th>
        <th>
          <%= food.tagName %>
        </th>
        <th>
          <%= food.created_at %>
        </th>
        <th>
          <%= food.updated_at %>
        </th>
      </tr>
    <% end %>

  </tbody>
</table>

<%=# button_to "Heart", foods_home_path %>
