  <div align="center">
  <div class="text"></div>
 
  <%= form_tag foods_search_path, :method => 'get' do %>
  <input type="text" id="search" name="search" class="button" placeholder="Search"/>
  <%end%>
  <br>
</div>
<div class = "container">

<div class="box">

<div align="right">
        <select id="editable_pages" class="btn btn-default dropdown-toggle">
      <option selected disabled hidden >Sort by</option>
      <option value="Likes" data-edit-url="<%= foods_search_path(search: params[:search], :sort_by => 'likes') %>">Likes</option>
      <option value="Price" data-edit-url="<%= foods_search_path(search: params[:search], :sort_by => 'price') %>">Price</option>
      <option value="Name" data-edit-url="<%= foods_search_path(search: params[:search], :sort_by => 'name') %>">Name</option>
    </select>   
        </div>
        <br>

<script type="text/javascript">
    $('#editable_pages').change(function() {
    window.location = $(this).find(":selected").data('edit-url');
});
</script>

<div class = "row">
<ul class= "products" >
<% @foods.each do |food|  %>  
  
  <li>
    <%= div_for food do %>  
      <%= render :partial => 'hearts/button', :locals => {:food => food} %>
    <% end %>
  </li>

<% end %>
</ul>
</div>
</div>
</div>

<!--    
<br>
<br><br><br><br>
<div class = "container">
<div class="box"
<div class = "row">
<% @foods.each do |food| %>
  <div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
    <img src="http://www.brake.eu/images/home1.jpg" alt="">
    <div class="caption">
    <h4 class="pull-right"><%= food.price %></h4>
    <foodName><a href="#"><%= food.food_name %></a>
    </foodName>
    <desc>
    <h7><br /><br />Resto Name:  <%= food.resto_name %></h7>
    <h7><br />  Description: <%= food.description %> </h7>
    <h7><br />  Address: <%= food.address %> </h7>
                                </desc>
                            </div>
                            <div class="ratings">
                                <p >
                                <a href="#">
                                  <span class="glyphicon glyphicon-heart"></span>
                                </a>
                                </p>




                                <p class="pull-right">31 reviews</p>
                                
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>




                            </div>
                        </div>
                    </div>

  <% end %>

</div>
</div>
</div>
-->