  <div align="center">
  <div class="text"></div>
 
  <%= form_tag foods_search_path, :method => 'get' do %>
  <input type="text" id="search" name="search" class="button" placeholder="Search"/>
  <%end%>
  <br>
</div>
<head>
<!--	<title>Twitter Heart Button Animation</title>
	<link rel="stylesheet" type="text/css" href="heartstyle.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script>
	$(document).ready(function()
	{
    
	$('body').on("click",'.heart',function()
    {
    	
    	var A=$(this).attr("id");
    	var B=A.split("like");
        var messageID=B[1];
        var C=parseInt($("#likeCount"+messageID).html());
    	$(this).css("background-position","")
        var D=$(this).attr("rel");
       
        if(D === 'like') 
        {      
        $("#likeCount"+messageID).html(C+1);
        $(this).addClass("heartAnimation").attr("rel","unlike");
        
        }
        else
        {
        $("#likeCount"+messageID).html(C-1);
        $(this).removeClass("heartAnimation").attr("rel","like");
        $(this).css("background-position","left");
        }


    });


	});
	</script>

    -->
</head>

<div class = "container">
    
<div class="box">
 <div align="right">
        <select id="editable_pages" class="btn btn-default dropdown-toggle">
      <option selected disabled hidden >Sort by</option>
      <option value="Likes" data-edit-url="<%= foods_show_all_path(:sort_by => 'likes') %>">Likes</option>
      <option value="Price" data-edit-url="<%= foods_show_all_path(:sort_by => 'price') %>">Price</option>
      <option value="Name" data-edit-url="<%= foods_show_all_path(:sort_by => 'name') %>">Name</option>
    </select>   
        </div>
<br>

<script type="text/javascript">
    $('#editable_pages').change(function() {
    window.location = $(this).find(":selected").data('edit-url');
});
</script>


<div class = "row">
<ul class= "products">
<% @foods.each do |food|  %>  
  
  <li>
    <%= div_for food do %>
      <%= render :partial => 'hearts/button', :locals => {:food => food} %>
    <% end %>
  </li>

<% end %>
</ul>
</div>
</div>
</div>