body {
    background: #8B8E81;
}
.navbar-default {
   background-color: rgba(255,255,255,0.9);

}
.navbar {
  position: relative;
  min-height: 1px;
  margin-bottom: 10px;
  border: 1px solid transparent;
}
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {

  position: absolute;
  padding: 10px;
  pointer-events: none;

}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;
}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.img-thumbnail {
  background-color: #FE574E;
	float: left;	
}
.copyright a:hover { text-decoration: none; background: #fff; }

.pad50{
  padding-top: 50px;
}

.button {

  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding-right: 30px;
  padding-left: 70px;
  position: relative;
  background-color:rgb(0,0,0);
  color:rgb(255,255,255);
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";zoom:1;
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);

  -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}

.button:hover{
    text-decoration: none;
  color: #eeeaee;
}

.button p{font-size: 18px;}
.button span {
  position: absolute;
  left: 0;
  width: 50px;
  font-size:30px;
  -webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
border-right: 1px solid  rgba(0,0,0,0.15);
    text-decoration: none;
}

.button.twitter {
  background: #00acee;
}

.button.facebook {
 background: #3b5998;
}

.button.google-plus{
  background: #db4a39;
}

.button.linkedin {
  background: #0e76a8;
}

.button.youtube {
 background: #c4302b;
}

.button.github{
  background: #171515;
}

.button.android {
  background: #a4c639;
}

.button.skype {
 background: #00aff0;
 }

.button.dropbox{
  background: #3d9ae8;
}

.button.foursquare{
  background: #25a0ca;
}

.button.apple{
  background: #cdcdcd;
}

.button.dribbble{
  background: #ea4c89;
}

.button.instagram{
  background: #3f729b;
}

.button.pinterest{
  background: #c8232c;
}

.button.stackexchange{
  background: #ef8236;
}

.button.flickr{
  background: #ff0084;
}

.text-center{
  text-align: center;
}
.right{
  float: right;
}

h7{
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}


mm {
   font-size: 1.5em;

}
foodName {

  font-variant: small-caps;
  font-size: 1.3em;
   font-weight: bold;

}
desc {
  font-size: .7em; 
    padding-top: 100 px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

}
a {
    color: #FE574E;
}




#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }


@import "compass/css3";

/***********************
 * Essential Structure *
 ***********************/
.flexsearch--wrapper {
  height: auto;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  background: transparent;
  margin: 0;
  position: static;
}
  
.flexsearch--form {
  overflow: hidden;
  position: relative;
}
  
.flexsearch--input-wrapper {
  padding: 0 66px 0 0; /* Right padding for submit button width */
  overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 25px 0 200px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 60px;
  padding: 0 46px 0 10px;
  border-color: #888;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
  border-width: 5px;
  margin-top: 15px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-size: 26px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
  
.flexsearch--submit {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  margin-top: 20px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
  background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
  color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #888;  
}

input:-moz-placeholder {
  color: #888
}


/****************
 * Pretify demo *
 ****************/
.h1 {
  float: left;
  margin: 25px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}

button {
  outline:none;
}
body {
    background: #ebebeb;
    background: url(https://static.vecteezy.com/system/resources/previews/000/112/160/original/vector-free-strass-glitter-texture-on-black-background.jpg);
    background: url(http://wallpapercave.com/wp/Sw7U6xf.jpg);
    
    background: url();
    background: url();
    background: url();
    background: url();
    background: url();
    background: url();
    
    
    
    
    
    background: url(https://s-media-cache-ak0.pinimg.com/originals/89/c3/be/89c3beddf3c836e9b04430020d9cf32b.jpg);
    background: url(https://static.vecteezy.com/system/resources/previews/000/128/646/original/vector-wood-texture-background.jpg);
    background: url(http://edgewaysdesign.co.uk/wordpress/wp-content/uploads/2015/04/resources-free-vector-woodgrain-pattern-preview.png);
    background: url(https://images5.alphacoders.com/711/711093.jpg);
    background: url(https://images5.alphacoders.com/711/711093.jpg);
    background: url(https://s-media-cache-ak0.pinimg.com/originals/86/f7/6f/86f76f002b845c4f957072446c4e61e4.png);
    background: url(http://mcxu.com/colorbunch/tagebuch/img/colorbunch_wallpaper02.jpg);

    
    
}

.w3-khaki,.w3-hover-khaki:hover{
  color:#000!important;background-color:#ff897e!important
}

detz {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 16px;
  font-variant: normal;

}
prize {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  color: #9a0000;
}
foodNamez{
  font-family: 'Ubuntu', sans-serif;
  font-variant: small-caps;
  font-size: 23px;
}
tagz {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color: #a5a5a5;
  font-size: 15px;

}
ul.products li {
    width: 355px;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}