<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="https://image.ibb.co/fwo9oF/a1024x1024.png">
  <title>Foodesire</title>
  <meta property="og:title" content="Foodesire" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Food searching app covered here in Tacloban City." />
  <meta property="og:image" content="https://image.ibb.co/mAm0WQ/a1200x650.png" />
  <meta property="og:url" content="https://foodesire.herokuapp.com/foods/home" />
  <meta property="fb:app_id" content="192466621263618" />


  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, 'rails.validations' => true %>
  <%= csrf_meta_tags %>
  <link href="https://blackrockdigital.github.io/startbootstrap-business-casual/css/business-casual.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag "custom" %>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Signika+Negative:400,700' rel='stylesheet' type='text/css'>
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.bgimg {background-image: url("/w3images/wedding_couple.jpg")}
.bgimg2 {background-image: url("/w3images/flowers.jpg")}
.w3-amber,.w3-hover-mine:hover{
  color:#000!important;background-color:  #E0FFFF!important
}

</style>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=192466621263618";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99764555-1', 'auto');
  ga('send', 'pageview');

</script>

<br />


<!-- Navbar (sticky bottom) -->
<div class="w3-top w3-hide-small">

  <div class="w3-bar w3-white w3-center w3-padding w3-opacity-min w3-hover-opacity-off w3-hover-white">
    <a href="home" style="width:20%" class="w3-bar-item w3-button w3-hover-pale-red">Home</a>
    <a href="add" style="width:20%" class="w3-bar-item w3-button w3-hover-pale-red">Add Food</a>
    <a href="show_all" style="width:20%" class="w3-bar-item w3-button w3-hover-pale-red">Show all</a>
    <a href="about" style="width:20%" class="w3-bar-item w3-button w3-hover-pale-red">About Us</a>
    <% if current_user %>
    <% session[:back_to] = request.env['PATH_INFO'] %>
    <% params[:search] = session[:search] %>
    <a href="/signout" id:="sign_out" style="width:20%" class="w3-bar-item w3-button w3-hover-indigo">Signed in as <strong><%= current_user.name %></strong>! Logout</a>
  <% else %>
    <% session[:back_to] = request.env['PATH_INFO'] %>
    <% params[:search] = session[:search] %>
    <a href="/auth/facebook" id:="sign_in" style="width:20%" class="w3-bar-item w3-button w3-hover-indigo">Log in with Facebook</a> 
  <% end %>
    
  </div>
</div>


  
</head>
<body>
<div class="brand">
  <img src="https://preview.ibb.co/cLC2bQ/1foodre.png" alt="1foodre" border="0">
  <br>

</div>

<%= yield %>


<div>
  
</div>


<footer>
</br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                   Copyright &copy; Foodesire 2017
</br>
</br>
<div class="fb-share-button" style="position: relative;
    left: 45%;" data-href="https://foodesire.herokuapp.com/foods/home" data-layout="button_count" data-size="small" data-mobile-iframe="true"
><a class="btnz share facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffoodesire.herokuapp.com%2F&amp;src=sdkpreparse"><i class="fa fa-facebook"></i> Share</a></div>
<!--fb-xfbml-parse-ignore-->
                   




                </div>
            </div>
        </div>
     </div>
     </br>
</footer> 



</body>
</html>
